<head>
	<link rel="stylesheet" type="text/css" href="https://appiphony.github.io/design/assets/styles/salesforce-lightning-design-system.css">
	<style type="text/css">
		
	</style>
</head>
<div class="slds-grid slds-grid_pull-padded-medium slds-card slds-grid_vertical-align-center slds-grid_align-spread slds-p-around_large">
    <div class="slds-col slds-grow-none">
        <img class="" style="max-height:100px;" src="https://seeklogo.com/images/S/salesforce-logo-273F95FE60-seeklogo.com.png" />
    </div>
    <div class="slds-col slds-grow-none">
        <button class="slds-button slds-button_brand slds-m-around_medium">
            Button
        </button>
    </div>
</div>